main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 5px;
  padding-top: 15px;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 5px;
}

.board-block {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-self: center;
  border: 2px solid #d3d6da;
  font-size: 30px;
}
